/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@font-face {
  font-family: bariol;
  src: url(assets/fonts/bariol.woff) format("webfont");
}

* {
  font-family: 'bariol', 'arial', sans-serif;
}